@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<section class="Overview">
    <div class="view">
        <a class="OverviewLink" asp-area="" asp-controller="Pizza" asp-action="Index">
            <div class="link">
                <p>Pizza</p>
                <img src="../img/img_1.jpg" />
            </div>
        </a>
        <a asp-area="" asp-controller="Drink" asp-action="Index">
            <div class="link">
                <p>Drikkevare</p>
                <img src="../img/drink.jpg" />
            </div>
        </a>
        <a asp-area="" asp-controller="Topping" asp-action="Index">
            <div class="link">
                <p>Topping</p>
                <img src="../img/img_3.jpg" />
            </div>
        </a>
        <a asp-area="" asp-controller="Prices" asp-action="Index">
            <div class="link">
                <p>Priser</p>
                <img src="../img/euro.jpg" />
            </div>
        </a>
    </div>
    <a asp-action="Index">Back to sign in</a>
</section>
