@{
    ViewData["Title"] = "Home Page";
}

<section class="slider">
    <div class="slide current">
        <div class="content">
            <h1>Økologi</h1>
            <p>
                Vi tilstræber os på at så mange af vores råvare som muligt er økologiske.
            </p>
        </div>
    </div>
    <div class="slide">
        <div class="content">
            <h1>Stenovns bagte</h1>
            <p>
                Vi bager i stenovn ved høje temperaturer, <br />
                dette sikrer de sprøde bunde og den dybe intense smag.
            </p>
        </div>
    </div>
    <div class="slide">
        <div class="content">
            <h1>De gode råvarer</h1>
            <p>
                Vi bruger råvarer i den bedste kvalitet.
            </p>
        </div>
    </div>
    <div class="slide">
        <div class="content">
            <h1>Vegetar</h1>
            <p>
                Vi har et stort udvalg af de lækreste kødfrie pizzaer.
            </p>
        </div>
    </div>
    <div class="slide">
        <div class="content">
            <h1>Deep pan</h1>
            <p>
                De fleste af vores pizzaer fås også som de verdenskendte Chicago style deep pan pizzaer.
            </p>
        </div>
    </div>
</section>
<div class="buttons">
    <button class="prev-btn"><span class="material-symbols-outlined">arrow_back</span></button>
    <button class="next-btn"><span class="material-symbols-outlined">arrow_forward</span></button>
</div>
<section class="InfoSection">
    <div class="InfoBox">
            <h1>Om os</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sapien diam, tristique vel accumsan eget, elementum ut mi. In accumsan et velit vitae fermentum. Donec auctor sollicitudin ornare. Suspendisse in vestibulum neque. Nulla non enim dui. Suspendisse ultricies velit lectus, id sodales orci vehicula vitae. Suspendisse euismod ante nulla, quis volutpat tortor elementum et. Proin vitae varius lacus. Proin interdum maximus rhoncus.

                Donec ante risus, ultrices sed ipsum ac, euismod dictum lorem. Quisque a nunc turpis. Suspendisse aliquet, nibh nec pulvinar lacinia, dui metus finibus augue, ut facilisis augue libero eget ex. Etiam tincidunt porta volutpat. Donec vel arcu eu dui efficitur sodales. Quisque hendrerit quis tellus quis sollicitudin. Maecenas sed condimentum magna. Nam in lacus tristique, pellentesque nulla eu, bibendum risus. In semper lobortis tellus, nec ultrices velit condimentum eget. Praesent et nisi tincidunt, pellentesque erat tincidunt, rhoncus quam. Vestibulum rhoncus tincidunt tellus vel lacinia. Suspendisse eget magna nec urna pretium pharetra sit amet et leo.
            </p>
    </div>
</section>
