@{
    ViewData["Title"] = "Home Page";
}

<section class="slider">
    <div class="slide current">
        <div class="content">
            <h1>Slider One</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Id commodi
                deleniti nulla repudiandae amet aperiam.
            </p>
        </div>
    </div>
    <div class="slide">
        <div class="content">
            <h1>Slider Two</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Id commodi
                deleniti nulla repudiandae amet aperiam.
            </p>
        </div>
    </div>
    <div class="slide">
        <div class="content">
            <h1>Slider Three</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Id commodi
                deleniti nulla repudiandae amet aperiam.
            </p>
        </div>
    </div>
    <div class="slide">
        <div class="content">
            <h1>Slider Four</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Id commodi
                deleniti nulla repudiandae amet aperiam.
            </p>
        </div>
    </div>
    <div class="slide">
        <div class="content">
            <h1>Slider Five</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Id commodi
                deleniti nulla repudiandae amet aperiam.
            </p>
        </div>
    </div>
</section>
<div class="buttons">
    <button class="prev-btn"><span class="material-symbols-outlined">arrow_back</span></button>
    <button class="next-btn"><span class="material-symbols-outlined">arrow_forward</span></button>
</div>