@{
    ViewData["Title"] = "Kontakt";
}

<section class="contactPage">
    <div class="contactBoxForm">
        <h1>Tag endelig fat i os</h1>
         <h4>Send os besked!</h4>
         <form>
             <label for="Name">Navn</label>
             <input type="text" id="input-name" name="Name" />
             <label for="email">E-mail</label>
             <input type="email" id="input-email" name="email" />
             <label for="message">Besked</label>
             <textarea name="message" rows="6"> </textarea>
             <input class="sendIn" type="submit" value="Send" />
         </form>

    </div>
    <div class="contactBoxInfo">
        <h2>Kontakt os</h2>
        <p>Adresse</p>
        <a href="https://www.google.dk/maps/place/Ahorn+Alle+5,+4100+Ringsted/" target="_blank">Pizza vej 1</a>
        <p>Telefon</p>
        <a>58624831</a>
    </div>
</section>

