@{
    ViewData["Title"] = "Kontakt";
}

<section class="contactPage">
    <div class="contactBoxForm">
        <h1>Tag endelig fat i os</h1>
         <h4>Send os besked!</h4>
         <form>
             <input type="text" id="input-name" name="Name" placeholder="Dit navn"/>
             <input type="email" id="input-email" name="email" placeholder="Din email"/>
             <input  type="text" id="input-message" name="message" placeholder="Din besked" />
             <button class="sendIn" type="submit">Send</button>
         </form>

    </div>
    <div class="contactBoxInfo">
        <h2>Kontakt os</h2>
        <p>Adresse</p>
        <a href="https://www.google.dk/maps/place/Ahorn+Alle+5,+4100+Ringsted/" target="_blank">Pizza vej 1</a>
        <p>Telefon</p>
        <a>58624831</a>
    </div>
</section>

