@{
    ViewData["Title"] = "Kontakt";
}

<section class="contactPage">
    <div class="contactBoxForm">
        <h1>Get in touch</h1>
        <h4>Feel free to leave a message below!</h4>
        <input />
    </div>
    <div class="contactBoxInfo">

    </div>
</section>

